/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2711";

    fragment@0 {
        target = <&pwm>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm0_gpio18>;
            status = "okay";
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            passive_buzzer {
                compatible = "bunchlinux,pwm-buzzer";
                pwms = <&pwm 0 500000>;  // PWM0, periodo 500us (2kHz)
                status = "okay";
            };
        };
    };
};