config BUZZER
    tristate "GPIO Buzzer driver"
    default M
    help
      Simple GPIO Buzzer driver for Raspberry Pi 4
      Reads the buzzer GPIO from the device tree and exposes
      /dev/my-buzzer character device.
